@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');


*{
    font-family: 'Sen', sans-serif;
    }

.header {
    background-color: 	#3d81ca;
    color: 	#002f67;
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
// .controlToView{
//     display: flex;
//     justify-content: center;
// }
